<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
	<nav>

		<h1>Bienvenido, {{current_user.fullname}}</h1>
		<a href="{{url_for('logout')}}">
			<div class="logout">

				<p>Salir del sistema</p>

				<img src="static/img/logout.svg" alt="">
			</div>
		</a>

	</nav>

	<div class="container">
		<div class="content1">
			{% for row in data %}
			<div class="card">
				<div>
					<h1 class="id-">ID : {{row[0]}}</h1>
				</div>
				<div>
					<h1>{{row[1]}}:</h1>
					<h2>{{row[4]}} - {{row[3]}}</h2>
				</div>
				<div>
					<p>{{row[2]}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="center">
		{% for row in data %}
		<div class="card-2">

			<img src="static/img/person-4.png" alt="">

			<div class="text">
				<div class="info-text">
					<h3>Nombre:</h3>
					<p>Hora:</p>
				</div>
				<p>aasdasdasdasd</p>
			</div>

		</div>


		{% endfor %}


	</div>


</body>

</html>